dv
#navBar {
    height: auto;
}

#project {
    height: auto;
}

#period {
    height: auto;
}

#account { 
    height: 240px; 
    margin: 0px;
    padding: 0px;
}

.title {
    color: #f66;
    font-size: 2rem;
}

.errorList {
    display: inline;
}

#demo {
  font-family: 'Helvetica', Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #f66;
}
li {
  line-height: 1.5em;
  margin-bottom: 20px;
}
.author, .date {
  font-weight: bold;
}
